<header>
  <h1>Product Management</h1>
  <nav>
    <a href="/admin/list-news">News</a>
    <a href="/admin/list-comments">Comment</a>
    <a href="/admin/list-users">User</a>
    <a href="/Logout">Logout</a>
  </nav>
</header>
